body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}

.green {
	display:Flex;
	width: 100%;
	height: 66%;
	background-color: #008000;
}

.purple0 {
	display: Flex;
	width: calc(100%/3);
	height: 100%;
	background-color: #8A2BE2;
	border-style: solid;
}

.purple1 {
	display: Flex;
	width: calc(100%/3);
	height: 100%;
	background-color: #8A2BE2;
	border-style: solid;
}

.purple2 {
	display: Flex;
	width: calc(100%/3);
	height: 100%;
	background-color: #8A2BE2;
	border-style: solid;
}

.lgreen {
	display: Flex;
	width: 100%;
	height: calc(100%/3);
	background-color:#ADFF2F;
}

.pink0{
	display:block;
	width: 100%;
	height: calc(100%/2);
	background-color: #FFC0CB;
}

.pink1{
	display:Block;
  width: 100%;
	height: calc(100%/2);
	background-color: #FFC0CB;
}

.pink2{
	display:block;
	width: 100%;
	height: calc(100%/2);
	background-color: #FFC0CB;
}

.pink3{
	display:block;
	width: 100%;
	height: calc(100%/2);
	background-color: #FFC0CB;
}

.transparent{
	display:Flex;
	width: calc(100%/2);
	height: 100%;
}

.row0{
display: block;
width:calc(100%/4);
height:100%;
}

.row1{
	display: block;
	width:calc(100%/4);
	height:100%;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.restrict {
	max-height: 80%;
	max-width: 80%;
}

.pointer:hover {
	cursor: pointer;
}
